<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Walnut House</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <link rel="stylesheet" href="/views/assets/css/styles-merged.css">
    <link rel="stylesheet" href="/views/assets/css/style.css">
    <link rel="stylesheet" href="/views/assets/css/spop.css">     

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/views/assets/js/jquery.fn.js"></script>
    <script src="/views/assets/js/spop.js"></script>

    <!--[if lt IE 9]>
      <script src="/views/assets/js/vendor/html5shiv.min.js"></script>
      <script src="/views/assets/js/vendor/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <!-- Fixed navbar -->
    
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar scrolled">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/order"></a>
        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-link" href="/order">Замовлення</a></li>
          <li><a class="nav-link" href="/login">Вихід</a></li>
          </ul>
        </div>
        </div>
    </nav>

    <section class="probootstrap-section probootstrap-bg-white" data-section="welcome" style="min-height: 610px">
      <div class="container" style="padding-top: 70px;">
        <div class="row">
            <h1>Сторінка не знайдена! :(</h1>
      </div>
    </section>

  </body>
</html>