<div class="list-group">
    <a href="/profile" class="list-group-item">
        <i class="fa fa-user" style="padding-right: 10px"></i> Персональні дані
    </a>
    <a href="/profile/feedback" class="list-group-item">
        <i class="fa fa-comment" style="padding-right: 10px"></i> Відгуки <span class="badge" style="margin-top: 3px">14</span>
    </a>
    <a href="/profile/reminders" class="list-group-item">
        <i class="fa fa-bell" style="padding-right: 10px"></i> Нагадування <span class="badge" style="margin-top: 3px">14</span>
    </a>
    <a href="/profile/promo" class="list-group-item">
        <i class="fa fa-coins" style="padding-right: 10px"></i> Акції і бонуси
    </a>
</div> 