<div class="list-group">
    <a href="/profile" class="list-group-item">
        <i class="icon icon-user2" style="padding-right: 10px"></i>Персональні дані
    </a>
    <a href="/profile/feedback" class="list-group-item">
        <i class="icon icon-chat" style="padding-right: 10px"></i>Відгуки 
        {% if feedback_count > 0 %}
            <span class="badge" style="margin-top: 3px">{{feedback_count}}</span>
        {% endif %}
    </a>
    <a href="/profile/reminders" class="list-group-item">
        <i class="icon icon-bell" style="padding-right: 10px"></i>Нагадування 
        {% if reminders_count > 0 %}
            <span class="badge" style="margin-top: 3px">{{reminders_count}}</span>
        {% endif %}
    </a>
    <a href="/profile/promo" class="list-group-item">
        <i class="icon icon-shield" style="padding-right: 10px; font-size: 16px"></i>Акції і бонуси
    </a>
</div> 