
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #de995e;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #de995e; color: #fff; text-shadow: none; }
::selection { background: #de995e; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #de995e;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/

.inner-bg {
    padding: 100px 0 170px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 35px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #de995e;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	.inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}

#alert-error, #alert-success {
	display: none;
}

.spop-container {
	z-index: 2000;
	position: fixed; }
	.spop-container,
	.spop-container *,
	.spop-container *:after,
	.spop-container *:before {
	  box-sizing: border-box; }
  
  .spop--top-left {
	top: 0;
	left: 0; }
	.spop--top-left .spop {
	  -webkit-transform-origin: 0 0;
		  -ms-transform-origin: 0 0;
			  transform-origin: 0 0; }
  
  .spop--top-center {
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
			transform: translateX(-50%); }
	.spop--top-center .spop {
	  -webkit-transform-origin: 50% 0;
		  -ms-transform-origin: 50% 0;
			  transform-origin: 50% 0; }
  
  .spop--top-right {
	top: 0;
	right: 0; }
	.spop--top-right .spop {
	  -webkit-transform-origin: 100% 0;
		  -ms-transform-origin: 100% 0;
			  transform-origin: 100% 0; }
  
  .spop--center {
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
			transform: translate3d(-50%, -50%, 0); }
	.spop--center .spop {
	  -webkit-transform-origin: 50% 0;
		  -ms-transform-origin: 50% 0;
			  transform-origin: 50% 0; }
  
  .spop--bottom-left {
	bottom: 0;
	left: 0; }
	.spop--bottom-left .spop {
	  -webkit-transform-origin: 0 100%;
		  -ms-transform-origin: 0 100%;
			  transform-origin: 0 100%; }
  
  .spop--bottom-center {
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
			transform: translateX(-50%); }
	.spop--bottom-center .spop {
	  -webkit-transform-origin: 50% 100%;
		  -ms-transform-origin: 50% 100%;
			  transform-origin: 50% 100%; }
  
  .spop--bottom-right {
	bottom: 0;
	right: 0; }
	.spop--bottom-right .spop {
	  -webkit-transform-origin: 100% 100%;
		  -ms-transform-origin: 100% 100%;
			  transform-origin: 100% 100%; }
  
  @media screen and (max-width: 30em) {
	.spop--top-left,
	.spop--top-center,
	.spop--top-right,
	.spop--bottom-left,
	.spop--bottom-center,
	.spop--bottom-right {
	  top: auto;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  margin-left: 0;
	  -webkit-transform: translateX(0);
		  -ms-transform: translateX(0);
			  transform: translateX(0); }
	  .spop--top-left .spop,
	  .spop--top-center .spop,
	  .spop--top-right .spop,
	  .spop--bottom-left .spop,
	  .spop--bottom-center .spop,
	  .spop--bottom-right .spop {
		-webkit-transform-origin: 50% 100%;
			-ms-transform-origin: 50% 100%;
				transform-origin: 50% 100%; }
	.spop {
	  border-bottom: 1px solid rgba(0, 0, 0, 0.15); } }
  
  .spop {
	position: relative;
	min-height: 56px;
	line-height: 1.25;
	font-size: 14px;
	-webkit-transform: translateZ(0);
			transform: translateZ(0); }
	@media screen and (min-width: 30em) {
	  .spop {
		border-radius: 2px;
		width: 320px;
		margin: 0.7em; } }
  
  .spop--info,
  .spop--error,
  .spop--warning,
  .spop--success {
	color: rgba(0, 0, 0, 0.7);
	background-color: #fff; 
	border:1px solid #ccc; 
  }
  
  @-webkit-keyframes spopIn {
	0% {
	  -webkit-transform: scale(0.2, 0.2);
			  transform: scale(0.2, 0.2); }
	95% {
	  -webkit-transform: scale(1.1, 1.1);
			  transform: scale(1.1, 1.1); }
	100% {
	  -webkit-transform: scale(1, 1);
			  transform: scale(1, 1); } }
  
  @keyframes spopIn {
	0% {
	  -webkit-transform: scale(0.2, 0.2);
			  transform: scale(0.2, 0.2); }
	95% {
	  -webkit-transform: scale(1.1, 1.1);
			  transform: scale(1.1, 1.1); }
	100% {
	  -webkit-transform: scale(1, 1);
			  transform: scale(1, 1); } }
  
  @-webkit-keyframes spopOut {
	0% {
	  opacity: 1;
	  -webkit-transform: scale(1, 1);
			  transform: scale(1, 1); }
	20% {
	  -webkit-transform: scale(1.1, 1.1);
			  transform: scale(1.1, 1.1); }
	100% {
	  opacity: 0;
	  -webkit-transform: scale(0, 0);
			  transform: scale(0, 0); } }
  
  @keyframes spopOut {
	0% {
	  opacity: 1;
	  -webkit-transform: scale(1, 1);
			  transform: scale(1, 1); }
	20% {
	  -webkit-transform: scale(1.1, 1.1);
			  transform: scale(1.1, 1.1); }
	100% {
	  opacity: 0;
	  -webkit-transform: scale(0, 0);
			  transform: scale(0, 0); } }
  
  .spop--out {
	-webkit-animation: spopOut 0.4s ease-in-out;
			animation: spopOut 0.4s ease-in-out; }
  
  .spop--in {
	-webkit-animation: spopIn 0.4s ease-in-out;
			animation: spopIn 0.4s ease-in-out; }
  
  .spop-body {
	padding: 1.4em; }
	.spop-body p {
	  margin: 0; }
	.spop-body a {
	  color: #fff;
	  text-decoration: underline; }
	  .spop-body a:hover {
		color: rgba(255, 255, 255, 0.8);
		text-decoration: none; }
  
  .spop-title {
	margin-top: 0;
	margin-bottom: 0.25em;
	color: #fff; }
  
  .spop-close {
	position: absolute;
	right: 0;
	top: 0;
	height: 32px;
	width: 32px;
	padding-top: 7px;
	padding-right: 7px;
	font-size: 22px;
	font-weight: bold;
	text-align: right;
	line-height: 0.6;
	color: #fff;
	opacity: 0.5; }
	.spop-close:hover {
	  opacity: 0.7;
	  cursor: pointer; }
  
  .spop-icon {
	position: absolute;
	top: 13px;
	left: 16px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	-webkit-animation: spopIn 0.4s 0.4s ease-in-out;
			animation: spopIn 0.4s 0.4s ease-in-out; }
	.spop-icon:after,
	.spop-icon:before {
	  content: "";
	  position: absolute;
	  display: block; }
	.spop-icon + .spop-body {
	  padding-left: 4.2em; }
  
  .spop-icon--error,
  .spop-icon--info {
	border: 2px solid #3a95ed; }
	.spop-icon--error:before,
	.spop-icon--info:before {
	  top: 5px;
	  left: 11px;
	  width: 4px;
	  height: 4px;
	  background-color: #3a95ed; }
	.spop-icon--error:after,
	.spop-icon--info:after {
	  top: 12px;
	  left: 11px;
	  width: 4px;
	  height: 9px;
	  background-color: #3a95ed; }
  
  .spop-icon--error {
	border-color: #ff5656; }
	.spop-icon--error:before {
	  top: 16px;
	  background-color: #ff5656; }
	.spop-icon--error:after {
	  top: 5px;
	  background-color: #ff5656; }
  
  .spop-icon--success {
	border: 2px solid #2ecc54; }
	.spop-icon--success:before {
	  top: 7px;
	  left: 7px;
	  width: 13px;
	  height: 8px;
	  border-bottom: 3px solid #2ecc54;
	  border-left: 3px solid #2ecc54;
	  -webkit-transform: rotate(-45deg);
		  -ms-transform: rotate(-45deg);
			  transform: rotate(-45deg); }
  
  .spop-icon--warning {
	border: 2px solid #fcd000; }
	.spop-icon--warning:before {
	  top: 7px;
	  left: 7px;
	  width: 0;
	  height: 0;
	  border-style: solid;
	  border-color: transparent transparent #fcd000 transparent;
	  border-width: 0 6px 10px 6px; }