<div id="navbar-collapse" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
    <li><a class="nav-link" href="/order">Замовлення</a></li>
    <li><a class="nav-link" href="/users">Користувачі</a></li>
    <li><a class="nav-link" href="/companies">Компанії</a></li>
    <li><a class="nav-link" href="/dishes">Страви</a></li>
    <li><a class="nav-link" href="/menu">Меню</a></li>
    {# <li><a class="nav-link" href="/reports">Звіти</a></li> #}
    <li><a class="nav-link" href="/login">Вихід</a></li>
    </ul>
</div>