<div id="navbar-collapse" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
    <li><a class="nav-link" href="/order">Замовлення</a></li>
    <li><a class="nav-link" href="/profile">Профіль</a></li>
    <li><a class="nav-link" href="/login">Вихід</a></li>
    </ul>
</div>